beautifulsoup4==4.4.1
boto==2.38.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.1
django-appconf==1.0.2
django-compressor==2.1.1
django-compressor-autoprefixer==0.1.0
django-libsass==0.6
django-modelcluster==3.0.1
django-storages==1.5.2
django-taggit==0.22.1
django-treebeard==4.0.1
djangorestframework==3.3.3
gunicorn==19.1.1
html5lib==0.9999999
libsass==0.11.0
markdown>=2.0,<3.0
Pillow==3.2.0
psycopg2==2.7.1
pygments>=2.0,<3.0
python-http-client==1.2.3
pytz==2016.4
rcssmin==1.0.6
rjsmin==1.0.12
requests==2.7.0
sendgrid==2.2.1
sendgrid-django==2.0.0
smtpapi==0.3.1
six==1.10.0
South==1.0
static==0.4
static3==0.6.1
unicodecsv==0.12.0
Unidecode==0.4.19
wagtail==1.10
Wand==0.4.2
Willow==1.0
https://github.com/littleweaver/django-bootstrap/tarball/d323bf6
