beautifulsoup4==4.4.1
boto==2.38.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.5
django-appconf==1.0.1
django-compressor==1.5
django-libsass==0.3
django-modelcluster==1.0
django-storages==1.1.8
django-taggit==0.17.3
django-treebeard==3.0
djangorestframework==3.2.5
gunicorn==19.1.1
html5lib==0.999
libsass==0.8.1
Pillow==3.0.0
psycopg2==2.5.1
pytz==2015.7
requests==2.7.0
six==1.10.0
South==1.0
static==0.4
static3==0.6.1
unicodecsv==0.12.0
Unidecode==0.4.18
wagtail==1.2
Willow==0.2.1
https://github.com/littleweaver/django-bootstrap/tarball/48f28b6e9a45655269e68c7a640d8b8a06ade1ad
