@import compass/utilities/general/clearfix
@import compass/css3/images
@import compass/css3/transition
@import font-awesome/font-awesome

@import variables
@import bootstrap

html
	height: 100%

body
	min-height: 100%
	padding: 0 $line-height-computed
	@media (min-width: $screen-xs-min)
		padding: 0 #{$line-height-computed * 2}
	// Dashed Band
	position: relative
	+clearfix
	&::before
		$band-width: $line-height-computed * 2
		$dbl-band: $band-width * 2
		content: " "
		display: block
		+background(linear-gradient($band-light 0, $band-light $band-width, $band-dark $band-width, $band-dark $dbl-band))
		background-size: 1px $dbl-band
		background-repeat: repeat
		width: 10px
		position: absolute
		top: 0
		left: 0
		bottom: 0

h1
	font-family: $font-family-serif

.text-large
	font-size: 1.25em

a:hover img
	opacity: .95
	+transition(.1s linear opacity)

// a.unstyled
.unstyled
	color: inherit
	&:hover
		text-decoration: none
		color: $link-color

// Spacing Utilities
.margin-leader
	margin-top: $line-height-computed

.margin-trailer
	margin-bottom: $line-height-computed

.margin-leader-double
	margin-top: $line-height-computed * 2

.margin-trailer-double
	margin-bottom: $line-height-computed * 2

.lw-container
	max-width: $max-width

// Specific Modules

.site-header
	+clearfix
	padding-bottom: 2*$line-height-computed


.main, .site-footer
	@extend .margin-trailer

.site-footer
	@extend .margin-leader-double

.header-logo
	float: left
	width: 100px
	margin-right: 10px
	@media (max-width: 780px)
		width: 95px
		margin-right: 7px
	@media (max-width: $screen-xxs-max)
		margin-right: 5px

.header-nav
	+clearfix
	border-bottom: 3px solid $band-dark
	margin-bottom: -7px
	width: 100%
	
.lw-nav
	float: right
	> li 
		float: left
	> li > a
		padding: 4px 8px
		margin-right: 10px
		border-radius: 0
		color: $band-dark
		&:last-child
			margin-right: 0
		&:hover, &:active
			background: transparent
			color: darken($band-dark, 10%)

.logotype
	color: $brand-primary
	float: left
	margin-bottom: 0
	> a:hover
		text-decoration: none
	@media (max-width: $screen-xxs-max)
		font-size: $font-size-h3
.subhead
	float: left
	color: $brand-primary
	margin-top: 5px
	min-width: 50%
	@media (max-width: $screen-xxs-max)
		font-size: $font-size-h5

.main
	margin-left: 110px
	margin-top: -90px
	@media (max-width: 780px)
		margin-top: -65px
		margin-left: 102px
	@media (max-width: $screen-xxs-max)
		margin-left: 0
		margin-top: 0
	> h2:first-child, & > h1:first-child
		margin-top: 0

.member-name
	text-align: center
	font-size: $font-size-base
	a &
		+transition(.05s linear color)
		color: #333
	a:hover &
		color: #666
	@media (min-width: $screen-xs-min)
		font-weight: bold
		font-size: $font-size-base * 1.2

h1.post-title
	font-family: $font-family-sans-serif
.post img
	@extend .img-responsive
	border: 1px solid rgba(black,.1)

.author, .post-list--title
	margin-right: 10px
.post-list--title
	font-size: 1.25em

.co-name
	color: #000


@media (max-width: $screen-xs-max)
	.media-body > h3
		margin-top: 5px
		font-size: 24px
@media (max-width: $screen-xxs-max)
	.media-body
		> h3
			margin: 0
			font-size: 20px
		> p
			margin-bottom: 0
@media (min-width: $screen-sm-min)
	.media-object
		margin-right: $line-height-computed

.muted
	color: $gray-light
