{% load compress static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="Little Weaver Web Collective is a cooperative web development group." />

		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="Little Weaver Web Collective"/>
		<meta property="og:image" content="{{ site.url }}/static/images/facebook.gif"/>
		<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}Little Weaver Web Collective" />
		<meta property="og:description" content="Little Weaver Web Collective is a cooperative web development group." />

		<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

		{% compress css %}
			<link rel="stylesheet" type="text/x-sass" href="{% static 'css/littleweaverweb.sass' %}">
		{% endcompress %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<script type="text/javascript" src="//use.typekit.net/kir3awt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		{% compress js %}
			<script type="text/javascript" src="{% static 'js/littleweaverweb.js' %}"></script>
		{% endcompress %}

	</head>
	<body>

		{% block body %}{% endblock %}

		<footer class="site-footer muted container margin-leader-dbl">
			<p>&copy; 2015 Little Weaver Web Collective, LLC. <i class="fa fa-heart-o"></i> Made with love.</p>
		</footer>

		{% wagtailuserbar %}

		{% block extra_js %}{% endblock %}

	</body>
</html>
