{% load compress static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="Little Weaver Web Collective is a cooperative web development group." />

		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="Little Weaver Web Collective"/>
		<meta property="og:image" content="{{ site.url }}/static/images/facebook.gif"/>
		<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}Little Weaver Web Collective" />
		<meta property="og:description" content="Little Weaver Web Collective is a cooperative web development group." />

		<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

		{% compress css %}
			<link rel="stylesheet" type="text/x-sass" href="{% static 'css/littleweaverweb.sass' %}">
		{% endcompress %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<script type="text/javascript" src="//use.typekit.net/kir3awt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		{% compress js %}
			<script type="text/javascript" src="{% static 'js/littleweaverweb.js' %}"></script>
		{% endcompress %}

	</head>
	<body class="{% block body_classes %}{% endblock %}">

		{% block body %}{% endblock %}

		<footer class="site-footer padded-dbl">
			<div class="muted container">
				<div class="row">
					<div class="col-md-4">
						<p>
							Drop us a line:<br />
							<a href="mailto:hello@littleweaverweb.com">hello@littleweaverweb.com</a><br />
							<a href="http://twitter.com/littleweaverweb" class="color-gray-mid color-white-hover link-no-underline"><i class="fa fa-fw fa-lg fa-twitter"></i> <span class="sr-only">Twitter</span></a>
							<a href="http://facebook.com/littleweaverwebcollective" class="color-gray-mid color-white-hover link-no-underline"><i class="fa fa-fw fa-lg fa-facebook-square"></i> <span class="sr-only">Facebook</span></a>
							<a href="http://github.com/littleweaver" class="color-gray-mid color-white-hover link-no-underline"><i class="fa fa-fw fa-lg fa-github"></i> <span class="sr-only">GitHub</span></a>
						</p>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-8 text-right">
						<p>
							&copy; 2015 Little Weaver Web Collective, LLC.
							<br /><br />
							<i class="fa fa-heart-o"></i> Made with love.
						</p>
					</div>
				</div>
			</div>
		</footer>

		{% wagtailuserbar %}

		{% block extra_js %}{% endblock %}

	</body>
</html>
