{% extends "core/layouts/base.html" %}

{% load static %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block body %}
	<header class="site-header homepage-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 col-sm-3 col-md-2">
					<div class="header-logo">
						<img src="{% static "img/logo.svg" %}" class="header-logo--img" />
					</div>
				</div>
				<div class="col-xs-10 col-sm-9 col-md-10">
					<ul class="nav nav-pills nav--lw margin-leader margin-trailer">
						<li class="nav-item {% if page.nav == "Services" %} active{% endif %}"><a class="nav-link" href="/services/">Services</a></li>
						<li class="nav-item {% if page.nav == "Work" %} active{% endif %}"><a class="nav-link" href="/work/">Work</a></li>
						<li class="nav-item {% if page.nav == "blog" %} active{% endif %}"><a class="nav-link" href="/blog/">Blog</a></li>
						<li class="nav-item {% if page.nav == "About" %} active{% endif %}"><a class="nav-link" href="/about/">About</a></li>
					</ul>
					<h1 class="logotype margin-trailer"><span class="lw-name">Little Weaver Web Collective</span> is a web development agency with principles.</h1>
					<div class="margin-trailer">
						<a href="/work/" class="btn btn-sm btn-secondary">See our work</a>
						<a href="/contact/" class="btn btn-sm btn-secondary">Get in touch</a>
					</div>
					{% block top %}{% endblock %}
				</div>
			</div>{# /.row #}
		</div>{# /.container #}
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
{% endblock %}
