{% extends "core/layouts/base.html" %}

{% load static %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block body %}
	<header class="site-header big-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-md-2">
					<div class="header-logo">
						<img src="{% static "img/logo.svg" %}" alt="Little Weaver Logo" class="header-logo-img" />
					</div>
				</div>
				<div class="col-xs-9 col-md-10">
					<div class="m-y-1">
						{% include "core/_nav.html" with extra_classes="nav--lw--links" %}
					</div>
					<h1 class="logotype m-b-1 color-gray-mid"><span class="lw-name">Little Weaver Web Collective</span> is a web development agency with principles.</h1>
					<div class="m-b-1">
						<a href="/work/" class="btn btn-sm btn-secondary btn-xs-down-block">See our work</a>
					</div>
					{% block top %}{% endblock %}
				</div>
			</div>{# /.row #}
		</div>{# /.container #}
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
{% endblock %}
