{% extends "core/layouts/base.html" %}

{% load static %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block body %}
	<header class="site-header compact-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 col-sm-3 col-md-2">
					<div class="header-logo">
						<a href="/">
							<img src="{% static "img/logo.svg" %}" class="header-logo--img" />
						</a>
					</div>
				</div>
				<div class="col-xs-10 col-sm-9 col-md-10">
					<div class='margin-leader-tiny margin-trailer-tiny'>
						{% include 'core/_nav.html' with show_lw_link=1 extra_classes="nav--white" %}
					</div>
				{% block top %}{% endblock %}
				</div>
			</div>{# /.row #}
		</div>{# /.container #}
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
{% endblock %}
