
{% load wagtailcore_tags %}

<h4>
  <a href="/about/{{ page.author.slug }}">
	{{ page.author.name }}
  </a>
	{% if page.author.github_username or page.author.twitter_username %}
		<small class="m-l-1">
			{% if page.author.github_username %}
			<a href="http://github.com/{{ page.author.github_username }}" class="link-no-underline fa fa-fw fa-github" title="Github profile"></a>
			{% endif %}
			{% if page.author.twitter_username %}
			<a href="http://twitter.com/{{ page.author.twitter_username }}" class="link-no-underline fa fa-fw fa-twitter" title="Twitter profile"></a>
			{% endif %}
		</small>
	{% endif %}
</h4>
{% if page.author.bio %}
	{{ page.author.bio|richtext }}
{% endif %}
