{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags %}

{% block main %}
	<div class="image-pane margin-trailer-dbl" style="background-image:url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10448567_317116061777867_4833500892439864728_o.jpg);background-position:top center;">
		<h1 class="pane-header color-black">Who We Are</h1>
	</div>

	<div class="container">
		<div class="lead">
			{{ self.body|richtext }}
		</div>

		<div class="row">
			<div class="col-sm-10 col-md-8">
				<h2>Members</h2>
				{% for member in members %}
					<div class="row margin-trailer-dbl">
						<div class="col-xs-3">
							{% if member.picture %}<img src="{{ member.picture }}" class="img-responsive" />{% endif %}
						</div>
						<div class="col-xs-9">
							<h3 class="margin-leader-0">{{ member.name }}</h3>
							{% if member.bio %}<p>{{ member.bio|richtext }}</p>{% endif %}
							<ul class='list-inline'>
								{% if member.github_username %}<li><a href='https://github.com/{{ member.github_username }}'><i class='fa fa-github'></i> Github</a></li>{% endif %}
								{% if member.twitter_username %}<li><a href='https://twitter.com/{{ member.twitter_username }}'><i class='fa fa-twitter'></i> Twitter</a></li>{% endif %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
