{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
	{% image page.banner_image fill-1100x330 as banner_image %}
	<div class="banner-image margin-trailer-dbl" style="background-image:url({{ banner_image.url }});background-position:top center;">
		<div class="container banner-image-text">
			<h1 class="color-white">Who We Are</h1>
		</div>
	</div>

	<div class="container">
		<div class="lead margin-trailer-dbl">
			{{ self.body|richtext }}
		</div>
	</div>

	<div class="pane--light-gray padded">
		<div class="container">
			<div class="row">
				<h1 class="text-center margin-trailer">Our Team</h1>
				<div class="grid-md-3 grid-sm-2">
					{% for member in members %}
						<div class="grid-item margin-trailer">
							{% if member.picture %}{% image member.picture fill-500x500 class="img-fluid img-circle" %}{% endif %}
							<h3 class="text-center margin-leader-half">{{ member.name }}</h3>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
