{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
	{% image page.banner_image fill-1100x330 as banner_image %}
	<div class="banner-image margin-trailer-dbl" style="background-image:url({{ banner_image.url }});background-position:top center;">
		<div class="container banner-image-text">
			<h1 class="color-white">Who We Are</h1>
		</div>
	</div>

	<div class="container">
		<div class="lead margin-trailer-dbl">
			{{ self.body|richtext }}
		</div>
	</div>

	<div class="pane--light-gray padded">
		<div class="container">
			<div class="row">
				<h1 class="text-center margin-trailer color-gray-dark">Our Team</h1>
				<div class="grid-md-3 grid-sm-2">
					{% for member in members %}
						<div class="grid-item margin-trailer">
							{% if member.picture %}{% image member.picture fill-500x500 class="img-fluid img-circle" %}{% endif %}
							<h3 class="text-center margin-leader-half">{{ member.name }}</h3>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="pane--brown-dark padded">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
					<h1 class="color-orange-bright heading--quiet">The Little Weaver Mission</h1>
					<p>Little Weaver Web Collective is a cooperative web development group.</p>
					<p>We have joined together to put our complementary skills to use building quality websites and applications. We share ownership; we choose together what projects we want to spend our time on; we choose individually the hours and environments that let us do our best work.</p>
					<p>We are committed to making socially responsible choices and encouraging our clients and users to do the same. We aim to provide the best possible experience to all users, on various devices and with varying abilities. We work to prevent finances from being a barrier to accessing our skills and our time.</p>
					<p class="margin-trailer-0">Our work is built on the work of others; we give back by providing high-quality, reusable, open-source code as a resource for the development of a better internet.</p>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
