{% extends "core/layouts/small_header.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}

	{% image page.banner_image fill-1650x500 as banner_image %}
	<div class="banner-image m-b-3" style="background-image:url({{ banner_image.url }});background-position:top center;">
		<div class="container banner-image-text">
		  {% image page.picture fill-150x150 class="img-circle" %}
			<h1 class="color-white">{{ page.title }}</h1>
		</div>
	</div>

	<div class="container">
	    <div class="lead">
	      {{ page.bio|richtext }}
	    </div>
	    <div class="media-links m-b-3">	       
	      <hr />
	      {% if page.github_username %}
	      <a href="http://github.com/{{ page.github_username }}" class="link-no-underline fa fa-fw fa-github" title="Github profile"></a>
	      {% endif %}
	      {% if page.twitter_username %}
	      <a href="http://twitter.com/{{ page.twitter_username }}" class="link-no-underline fa fa-fw fa-twitter" title="Twitter profile"></a>
	      {% endif %}
	    </div>
	</div>

	  <div class="pane--light-gray p-x-3 p-t-3">
	    <div class="container">
	      <div class="row">
		<h1 class="text-xs-center">Blog Entries</h1>
	      </div>
	  {% for entry in blog_entries %}
	  <div class="row">
	  {% include "core/_blog_summary_text.html" %}
	  <hr />
	  </div>
	  {% endfor %}
	    </div>
	  </div>


{% endblock %}
