{% extends "core/layouts/small_header.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}

{% image page.banner_image fill-1650x500 as banner_image %}
<div class="banner-image" style="background-image:url({{ banner_image.url }});background-position:top center;">
  <div class="container banner-image-text">
    <h1 class="color-white">{{ page.title }}</h1>
  </div>
</div>

<div class="pane--light-gray p-y-3">
  <div class="container">
    <div class="col-sm-4 col-sm-push-8 col-md-3 col-md-push-7 m-b-2-xs-down">
      {% image page.picture fill-500x500 class="img-fluid img-circle" %}
    </div>
    <div class="col-sm-8 col-sm-pull-4 col-md-5 col-md-offset-2 col-md-pull-3">
      <div class="lead--except-sm">
	{{ page.bio|richtext }}
      </div>
      <ul class="list-inline">
	{% if page.github_username %}
	<li class="list-inline-item m-r-2"><a href="http://github.com/{{ page.github_username }}" class="link-no-underline" title="Github profile">Github</a></li>
	{% endif %}
	{% if page.twitter_username %}
	<li class="list-inline-item m-r-2"><a href="http://twitter.com/{{ page.twitter_username }}" class="link-no-underline" title="Twitter profile">Twitter</a></li>
	{% endif %}
	{% if page.portfolio_link %}
	<li class="list-inline-item m-r-2"><a href="{{ page.portfolio_link }}" class="link-no-underline" title="Portfolio">Portfolio</a></li>
	{% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="container p-y-3">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Blog Entries</h1>

      {% for entry in blog_entries %}
      <div class="m-t-3">
	{% include "core/_blog_summary_text.html" %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

  {% endblock %}
