{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags %}

{% block main %}
<div class="image-pane margin-trailer-dbl" style="background-image:url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10448567_317116061777867_4833500892439864728_o.jpg);background-position:top center;">
	<h1 class="pane-header color-black">{{ page.title }}</h1>
</div>

<div class="container">
	<div class="lead">
		<ul class='list-inline'>
			<li>
				{% if page.author %}
					{% if page.author.twitter_username %}
						<a href="https://twitter.com/{{ page.author.twitter_username }}">{{ page.author.name }}</a>
					{% else %}
						{{ page.author.name }}
					{% endif %}
				{% endif %}
			</li>
			<li>{{ page.publication_date }}</li>
		</ul>

		{{ page.body }}
	</div>
</div>
{% endblock %}
