{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_classes %}{% if not page.banner_image %}no-banner{% endif %}{% endblock %}

{% block main %}
	{% if page.banner_image %}
		{% image page.banner_image fill-1650x500 as banner_image %}
		<div class="banner-image--large m-b-1" style="background-image:url({{ banner_image.url }});"></div>
	{% endif %}

	<div class="container m-r-1-sm-only">
		<div class="row m-y-2">
			<div class='col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-8'>
				<h1 class="color-black-almost">{{ page.title }}</h1>

				{# byline and dateline #}
				<div>
					<span class="color-black-almost">
						{% if page.author %}
                            <a href="/about/{{ page.author.slug }}">
                                {{ page.author.title }}
                            </a>
						{% endif %}
					</span>
					<span class="dateline">
						<time datetime="{{ page.publication_date|date:"c" }}">{{ page.publication_date|date:"N n, Y" }}</time>
					</span>
				</div>

			</div>
		</div>

		<main class='blog-content m-b-3'>
			{% for block in page.body %}
				<div class='row block-{{ block.block_type }}'>
					{% if block.block_type == 'image' %}
						<div class='col-xs-12 m-t-1 m-b-2 text-xs-center'>
							{{ block }}
						</div>
					{% elif block.block_type == 'code' %}
						<div class='col-xs-12 col-lg-8 col-lg-offset-1'>
							{{ block }}
						</div>
					{% else %}
						<div class='col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6'>
							{{ block }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</main>

		{% if page.author %}
			<div class="row m-b-3">
				<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6">
					{% if page.author.picture %}
						<div class="media">
							<div class="media-left p-r-1">
								{% if page.author.picture %}
									{% image page.author.picture fill-150x150 as author_image %}
								<a href="/about/{{ page.author.slug }}">
									<img src="{{ author_image.url }}" alt="{{ page.author.picture.title }}" width=100 class="img-circle media-object"/>
								</a>
								{% endif %}
							</div>
							<div class="media-body">
								{% include "core/_blog_author_bio.html" %}
							</div>
						</div>
					{% else %}
						{% include "core/_blog_author_bio.html" %}
					{% endif %}
				</div>
			</div>
		{% endif %}


	</div>
{% endblock %}
