{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags %}

{% block main %}
	<div class="image-pane margin-trailer-dbl" style="background-image:url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10448567_317116061777867_4833500892439864728_o.jpg);background-position:top center;">
		<h1 class="pane-header color-black">{{ page.title }}</h1>
	</div>

	<div class="container">
		<div class="lead">
			{{ page.intro }}

			{% for entry in blog_entries %}
				<article class="blog-post">
					<header>
						<h1 class="entry-title">
							<a href="{{ entry.url }}">{{ entry.title }}</a>
						</h1>
						{% if entry.author %}
							<p class="entry-byline">
								by {{ entry.author }}
							</p>
						{% endif %}
						<div class="blog-post-meta">
							<time datetime="{{ entry.publication_date|date:"c" }}">{{ entry.publication_date|date:"N n, Y" }}</time>
						</div>
					</header>
					<div class="entry-summary">
						{{ entry.summary }}
					</div>
					<footer>
						<p>
							<a href="{{ entry.url }}">Continue reading &ldquo;{{ entry.title }}&rdquo;</a>
						</p>
					</footer>
				</article>
				<hr class="blog-post-separator">
			{% endfor %}
		</div>
	</div>
{% endblock %}
