{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
	{% image page.banner_image fill-1650x500 as banner_image %}
	<div class="banner-image margin-trailer-dbl" style="background-image:url({{ banner_image.url }});">
		<div class="container banner-image-text">
			<h1 class="color-white">{{ page.title }}</h1>
		</div>
	</div>

	<div class="container">
		<div class="lead">
			{{ page.intro }}

			{% for entry in blog_entries %}
				<article class="blog-post">
					<header class="blog-post-header">
						<h2 class="entry-title">
							<a href="{{ entry.url }}">{{ entry.title }}</a>
						</h2>
						{% if entry.author %}
							<p class="entry-byline">
								by {{ entry.author }}
							</p>
						{% endif %}
						<div class="blog-post-meta">
							<time datetime="{{ entry.publication_date|date:"c" }}">{{ entry.publication_date|date:"N n, Y" }}</time>
						</div>
					</header>
					<div class="entry-summary">
						{{ entry.summary }}
					</div>
					<footer>
						<p>
							<a href="{{ entry.url }}">Continue reading &ldquo;{{ entry.title }}&rdquo;</a>
						</p>
					</footer>
				</article>
			{% endfor %}
		</div>
	</div>
{% endblock %}
