{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_classes %}{% if not page.banner_image %}no-banner{% endif %}{% endblock %}

{% block main %}
	{% if page.banner_image %}
		{% image page.banner_image fill-1650x500 as banner_image %}
		<div class="banner-image--large margin-trailer" style="background-image:url({{ banner_image.url }});"></div>
	{% endif %}

	<div class="container m-b-3">
		<div class="row m-t-2 m-b-3">
			<div class='col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-8'>
				<h1 class="color-black-almost">{{ page.title }}</h1>

				{# byline and dateline #}
				<div>
					<span class="color-black-almost">
						{% if page.author %}
							{{ page.author.name }}
						{% endif %}
					</span>
					<span class="dateline">
						<time datetime="{{ page.publication_date|date:"c" }}">{{ page.publication_date|date:"N n, Y" }}</time>
					</span>
				</div>

			</div>
		</div>

		<main class='blog-content m-b-3'>
			{% for block in page.body %}
				<div class='row block-{{ block.block_type }}'>
					{% if block.block_type == 'image' %}
						<div class='col-xs-12 text-center'>
							{{ block }}
						</div>
					{% elif block.block_type == 'code' %}
						<div class='col-xs-12'>
							{{ block }}
						</div>
					{% else %}
						<div class='col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-8'>
							{{ block }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</main>

		{% if page.author and page.author.picture %}
			<div class="row m-b-3">
				<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-8">
					<div class="row">
						<div class="col-xs-3">
							{% if page.author.picture %}{% image page.author.picture fill-400x400 class="img-fluid img-circle" %}{% endif %}
						</div>
						<div class="col-xs-9">
							<h3>
								{{ page.author.name }}

							</h3>
							{% if page.author.bio %}
								{{ page.author.bio|richtext }}
							{% endif %}
							<h4>
								{% if page.author.github_username %}
									<a href="http://github.com/{{ page.author.github_username }}" class="link-no-underline fa fa-fw fa-github" title="Github profile"></a>
								{% endif %}
								{% if page.author.twitter_username %}
									<a href="http://twitter.com/{{ page.author.twitter_username }}" class="link-no-underline fa fa-fw fa-twitter" title="Twitter profile"></a>
								{% endif %}
							</h4>
						</div>
					</div>
				</div>
			</div>
		{% endif %}


	</div>
{% endblock %}
