{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags form_tags %}

{% block main %}
	{% image page.banner_image fill-1650x500 as banner_image %}
	<div class="banner-image m-b-3" style="background-image:url({{ banner_image.url }});background-position:top center;">
		<div class="container banner-image-text">
			<h1 class="color-white">{{ page.title }}</h1>
		</div>
	</div>

	<div class="container m-t-2 p-b-3">
		<div class='row'>
			<div class='col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>
				<div class="lead">
					{{ self.intro|richtext }}
				</div>
				<form action="{% pageurl page %}" method="POST">
					{% csrf_token %}
					{% for field in form %}
						<div class='form-group{% if field.errors %} has-error{% endif %}'>
							<label class='control-label' for="{{ field|id }}">{{ field.label }}{% if not field.field.required %} <small>(Optional)</small>{% endif %}</label>
							{% if field|is_textarea %}
								<textarea class='form-control' id="{{ field|id }}" name="{{ field.name }}">{{ field|get_value }}</textarea>
							{% else %}
								<input class='form-control' id="{{ field|id }}" name="{{ field.name }}" value="{{ field|get_value }}">
							{% endif %}
							{% for error in field.errors %}
								<p class='help-block'>{{ error }}</p>
							{% endfor %}
						</div>
					{% endfor %}
					<button type="submit" class='btn btn-primary'>
						<i class='fa fa-fw fa-paper-plane'></i>
						Send
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
