{% extends "core/layouts/big_header.html" %}

{% load static %}
{% load core_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block meta %}
	{{ block.super }}
	{% include "core/_og_defaults.html" %}
{% endblock %}

{% block main %}
	{% if self.featured_work %}
		{% with work=self.featured_work %}
			{% image work.background_photo width-1500 as background_photo %}
			<div class="pane p-y-1 background-green-dark background-image-cover" {% if background_photo %}style="background-image: url({{ background_photo.url }})"{% endif %}>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-xl-4 col-xl-offset-2">
							<h2 class="color-white">{% firstof self.featured_work.teaser_title self.featured_work.title %}</h2>
							<p>{% firstof self.featured_work.teaser_description|richtext self.featured_work.body|richtext|truncatewords_html:20 %}</p>
							<div class="text-nowrap">
								<a href="{{ work.url }}" class="btn btn-sm btn-white">Read about it</a>
								<a href="{{ work.get_parent.url }}" class="btn btn-sm btn-white-o">More of our work</a>
							</div>
						</div>
						{% if work.screenshot %}
							<div class="col-sm-6">
								<div class="browser browser--home-page">
									<div class="titlebar">
										<div class="dot"></div>
										<div class="dot"></div>
										<div class="dot"></div>
									</div>
									{% image work.screenshot width-900 class="img-fluid" %}
								</div>
							</div>
						{% endif %}
					</div><!-- /.row -->
				</div>
			</div>
		{% endwith %}
	{% endif %}

	<div class="container m-t-3 p-t-3 text-xs-center home-services-pane">
		<div class="row">
			<div class="col-sm-4 m-b-3">
				{% static "img/computer.svg" as computer_image %}
				{% include "core/_home_page_narrow_image.html" with image=computer_image %}
				<div class="container--vertically-centered">
					<h3 class="color-gray-dark">Modern Website Design</h3>
				</div>
				<p>From custom themes for services like Tumblr, Shopify, and NationBuilder to elaborate user interfaces, we create responsive, accessible, and beautiful websites.</p>
			</div>
			<div class="col-sm-4 m-b-2">
				{% static "img/tablet.svg" as tablet_image %}
				{% include "core/_home_page_narrow_image.html" with image=tablet_image %}
				<div class="container--vertically-centered">
					<h3 class="color-gray-dark">Application Development</h3>
				</div>
				<p>Whether for the web or mobile, we build robust, sophisticated applications and content management systems tailored to meet your precise needs.</p>
			</div>
			<div class="col-sm-4 m-b-2">
				{% static "img/custom.svg" as custom_image %}
				{% include "core/_home_page_narrow_image.html" with image=custom_image %}
				<div class="container--vertically-centered">
					<h3 class="color-gray-dark">And More</h3>
				</div>
				<p>We&#8217;ll work with you to construct exactly the project you need.</p>
				<a href="{{ site.url }}/services" class="btn btn-secondary">More about our services</a>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
{% endblock %}
