{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_classes %}no-banner{% endblock %}

{% block main %}
	<div class='container m-r-1-sm-only'>
		<div class='row m-b-1'>
			<div class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-8'>
				<h1 class="m-y-1 color-black">{{ self.teaser_title }}</h1>
				<h2 class="color-gray-dark">{{ self.project_name }}</h2>
				<h5 class="color-gray-mid text-uppercase">for {{ self.client_name }}</h5>
				<hr> <!-- Potentially temp fix for services running into logo? -->
			</div>
		</div>
		<div class="row m-b-3">
			<div class="col-sm-3 col-md-2 text-sm-right">
				<ul class="list--margin-separated text-uppercase text-bold m-a-0-xs-down">
					{% for service in self.services.all %}
						<li class="list-comma-item-xs-down">{{ service }}</li>
					{% endfor %}
				</ul>
				<ul class="list--margin-separated">
					{% for technology in self.technologies.all %}
						<li class="list-comma-item-xs-down">{{ technology }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class='col-sm-9 col-md-8 col-lg-6 m-b-2'>
				{% if page.screenshot %}
					<div class="browser">
						<div class="titlebar">
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</div>
						{% image page.screenshot width-810 class="img-fluid" %}
					</div>
				{% endif %}
			</div>
			{% for block in page.body %}
				<div class='block-{{ block.block_type }}'>
					{% if block.block_type == 'image' %}
						<div class='col-xs-12 m-t-1 m-b-2 text-xs-center'>
							{{ block }}
						</div>
					{% elif block.block_type == 'code' %}
						<div class='col-xs-12 col-md-10 col-md-offset-1'>
							{{ block }}
						</div>
					{% else %}
						<div class='col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6'>
							{{ block }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			{% if self.link %}
				<div class='col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6'>
					<a href="{{ self.link }}" class="btn btn-wrap btn-lg btn-primary text-uppercase col-xs-12 m-t-1 p-y-2 h3">
						See {{ page.title }} for yourself!
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
