{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_classes %}no-banner{% endblock %}

{% block meta %}
	{{ block.super }}
	<meta property="og:type" content="website" />
	{% if settings.core.OpenGraphAndMetaSettings.open_graph_image %}
		{% image settings.core.OpenGraphAndMetaSettings.open_graph_image original as og_image %}
		<meta property="og:image" content="{{ og_image.url }}" />
	{% endif %}
{% endblock %}

{% block main %}
	<div class='container m-r-1-sm-only'>
		<div class='row'>
			<div class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2'>
				{% for child in self.get_children.live %}
					{% with child=child.workpage %}
						<div class='pane--outline p-y-2'>
							{% include "core/_work_item_short.html" with item=child %}
						</div>
					{% endwith %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
