{% extends "core/layouts/small_header.html" %}

{% load wagtailcore_tags %}

{% block body_classes %}no-banner{% endblock %}

{% block main %}
	{% for child in self.get_children %}
		{% with child=child.workpage %}
			<div class='block-{% cycle "odd" "even" %} block-{{ forloop.counter }}'>
				<div class='container'>
					<div class='row'>
						<div class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2'>
							<h1><a href="{% pageurl child %}">{{ child.teaser_title }}</a></h1>
							{{ child.teaser_description|richtext }}
						</div>
					</div>
				</div>
			</div>
		{% endwith %}
	{% endfor %}
{% endblock %}
