<!DOCTYPE html>
<html class="no-js">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="{{ site.name }}"/>
		<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/static/images/facebook.gif{% endif %}"/>
		<meta property="og:title" content="{% if page.title %}{{ page.title|escape }} | {% endif %}{{ site.name }}" />
		<meta property="og:description" content="Little Weaver Web Collective is a cooperative web development group." />

		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

		<script type="text/javascript" src="/static/javascripts/modernizr.2.7.1.js"></script>
		<script type="text/javascript" src="//use.typekit.net/kir3awt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	</head>
	<body>
		<div class="lw-container">
			<header class="site-header">
				<nav class="header-nav">
					<ul class="nav nav-pills lw-nav">
						<li{% if page.nav == "Who We Are" %} class="active"{% endif %}><a href="/who-we-are.html">Who We Are</a></li>
						<li{% if page.nav == "What We Do" %} class="active"{% endif %}><a href="/what-we-do.html">What We Do</a></li>
						<li{% if page.nav == "blog" %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
					</ul>
				</nav>
				<img src="/static/images/logo.svg" class="header-logo"/>
				<h1 class="logotype"><a href="/">
					Little Weaver <br class="visible-xs">Web Collective
				</a></h1>
				<h4 class="subhead">Design &amp; Development</h4>
			</header>
			<div class="main">
				<!-- content start -->
				{{ content }}
				<!-- content end -->
				<footer class="site-footer muted">
					<p>&copy; 2015 Little Weaver Web Collective, LLC. <i class="fa fa-heart-o"></i> Made with love.</p>
				</footer>
			</div>
		</div>
	</body>
</html>
