<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %}{{ page.title }} | {% endif %}Little Weaver Web Collective</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
		<script type="text/javascript" src="/static/javascripts/modernizr.2.7.1.js"></script>
		<script type="text/javascript" src="//use.typekit.net/kir3awt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<header class="site-header">
			<h1 class="logotype pull-left">Little Weaver</h1>
		</header>
		<div class="main">
			<!-- content start -->
			{{ content }}
			<!-- content end -->
		</div>
		<footer class="site-footer muted">
			&copy; 2014 Little Weaver Web Collective, LLC. <i class="glyphicon glyphicon-heart-empty"></i> Made with love.
		</footer>
	</body>
</html>
