.browser
	box-shadow: 0 3px 5px 0 rgba(#000, .25)
	border-radius: 5px 5px 0 0
	overflow: hidden
	> .titlebar
		height: $line-height-computed * 1.25
		background: #DDD
		border: 0 transparent
		padding: $line-height-computed * .375
		> .dot
			width: $line-height-computed / 2
			height: $line-height-computed / 2
			margin-right: $line-height-computed / 3
			border-radius: 50%
			background: #999
			float: left
