.nav--lw
	@extend .clearfix
	margin-left: -15px
	margin-right: -15px
	> li
		float: left

		&.active
			border-top: 10px solid $white
			margin-top: -10px
	.nav-link
		color: $gray-mid
		transition: .15s linear color
		&:hover
			background: transparent
			color: $gray-dark
	.nav-link-special
		color: $gray-dark
		font-weight: 500
		&:hover
			color: $black

.nav--white
	.nav-link
		color: $white
		&:hover
			color: $white
