.pane--light-gray
	background-color: $gray-light

.pane--brown-dark
	background-color: $brown-dark
	color: lighten($brown-dark, 50%)

.pane--green-dark
  background-color: $green-dark-variant

.pane--outline + .pane--outline
	border-top: 1px solid $gray-light

.pane--outline-single
	border-bottom: 1px solid $gray-light

.pane--colorful
	font-size: 1.2em
	color: $white-trans
	display: flex
	flex-flow: row wrap

	h2
		color: inherit

.pane__child--bg-one
	// background-color: lighten($green-darker,5)
	background-color: darken(saturate($green-dark,15),6)

.pane__child--bg-two
	background-color: saturate($green-dark,10)

.pane__child--bg-three
	// background-color: desaturate(darken($green-light,25),5)
	background-color: lighten($green-mid,3)

.pane__child--bg-four
	background-color: darken($green-mid,5)

.pane__child
	flex-basis: 50%
	&:last-child:nth-child(2n+1)
		flex-basis: 100%
		background-color: $gray-light
		color: $black-almost
