.pane--light-gray
	background-color: $gray-light

.pane--brown-dark
	background-color: $brown-dark
	color: lighten($brown-dark, 50%)

.pane--green-dark
  background-color: $green-dark-variant

.pane--outline + .pane--outline
	border-top: 1px solid $gray-light

.pane--outline-single
	border-bottom: 1px solid $gray-light

.pane--colorful
	background-color: $gray-light
	color: $black-trans
	font-size: 1.2em

	h2
		color: inherit

	.pane__child--one
		background-color: $green-light
		background-color: $green-darker
		background-color: inherit
		background-color: #414040
		background-color: hsla(197,100%,39%,1)
		background-color: $orange-dark
		background-image: url('https://littleweaverweb.s3.amazonaws.com/media/images/msp_1407_2647.2e16d0ba.fill-1650x500.jpg')
		background-repeat: no-repeat
		background-position: center bottom
		text-shadow: 0 0 4px rgba(0,0,0,0.2)
		color: $white-trans

	.pane__child--two
		background-color: lighten($yellow-light, 10%)
		background-color: inherit
		background-color: #444451
		background-color: hsla(191,100%,18%,1)
		color: $white-trans


	.pane__child--three
		background-color: lighten(#EF7691, 20%)
		background-color: darken(#016CB7, 20%)
		background-color: #404039
		background-color: hsla(205,99%,29%,1)
		background-color: $red
		background-color: saturate($red, 20%)
		background-color: hsla(-177,100%,31%,1)
		color: $white-trans

	.pane__child--four
		background-color: lighten(#98ABC8, 20%)
		background-color: $gray-dark
		background-color: #53534A
		background-color: hsla(-177,100%,31%,1)
		background-image: url('https://littleweaverweb.s3.amazonaws.com/media/images/msp_1407_2647.2e16d0ba.fill-1650x500.jpg')
		background-repeat: no-repeat
		background-position: top top
		text-shadow: 0 0 4px rgba(0,0,0,0.2)
		color: $white-trans

