@import variables
@import bootstrap/bootstrap

@import utilities/colors
@import utilities/margins
@import utilities/padded
@import utilities/text

@import modules/base

// Alphabetical order, unless otherwise necessary:
@import modules/blog
@import modules/browser
@import modules/buttons
@import modules/grid
@import modules/heading
@import modules/hidden
@import modules/image
@import modules/links
@import modules/navs
@import modules/pane
@import modules/pygments
@import modules/site-header


.container
	max-width: none
	@extend .container-fluid
	+media-breakpoint-up(md)
		max-width: 720px
	+media-breakpoint-up(lg)
		max-width: 940px
	+media-breakpoint-up(xl)
		max-width: 1140px

// Colors

.background-green-orange
	background-color: $green-dark
	background-image: linear-gradient(135deg, $green-darker, $orange-dark)
	color: $white
	text-shadow: 0 1px 0 rgba(black, .15)

// Other Stuff
.header-logo
	width: 100%
	height: 40px
	position: relative

.header-logo-img
	// Pull a bit of wing off the left margin
	position: relative
	width: 160%
	left: -40%
	top: -20%
	+media-breakpoint-up(sm)
		left: 0
		width: 100%

.header-logo-img--compact
	position: absolute
	top: auto
	// This amount ensures a bit of wing sticks over the edge on sm
	bottom: -7.5rem
	// Show up higher than the banner headings
	z-index: 1
	+media-breakpoint-up(sm)
		position: relative
		left: 0
		bottom: auto
		top: -20%



.logotype
	font-family: $font-family-sans-serif
	+media-breakpoint-down(sm)
		font-size: 6.5vw

.lw-name
	color: #444
	font-family: $font-family-serif

.banner-image
	height: 10rem
	+media-breakpoint-up(sm)
		height: 40vw
	+media-breakpoint-up(md)
		height: 20rem
	width: 100%
	background-size: cover
	background-position: center
	position: relative
	background-color: #444

.banner-image--large
	@extend .banner-image
	+media-breakpoint-up(sm)
		height: 30rem

.banner-image-text
	// Centered within .banner-image
	+media-breakpoint-up(sm)
		margin-top: 3rem // offset from navbar
	+media-breakpoint-up(md)
		margin-top: 2.25rem // offset from navbar
	position: absolute
	top: 50%
	left: 50%
	transform: translate3d(-50%, -50%, 0)
	text-transform: uppercase
	letter-spacing: .1em
	text-shadow: 0 1px 0 rgba(black, .35)
	text-align: center

.no-banner
	+media-breakpoint-up(sm)
		margin-top: 4.25rem // clear navbar

.codehilite
	border: solid 1px #ccc
	border-radius: 4px
	padding: .5em
	margin-bottom: 1em

.block-image img
	@extend .margin-trailer
	max-width: 100%
	height: auto
	margin-left: auto
	margin-right: auto

.site-footer
	color: $gray-light
	background: $black-almost

	.social-link
		line-height: 3rem

	p
		margin: 0

	+media-breakpoint-down(sm)
		text-align: center

		.row > div:not(:last-child)
			margin-bottom: $spacer

		p + p
			margin-top: $spacer
